/* Add your styles here */

/* Profile Image Styling */
#about img {
    max-width: 150px; /* Set maximum width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: make it circular */
}
